<div>
      <h1> {{user.displayName}} is logged in </h1>

      <form action="/logout" method="POST">
        <button type="submit"> Logout </button>
      </form>

      <p>{{user.displayName}} likes {{user.movies}}.</p>
      
   
          <img src="{{user.picture}}" width="150" height="150"/>

</div>