body {
  width: 100vw;
  height: auto;
}

li {
  display: inline-block;
  white-space: nowrap;
}

#film-results-ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  display: inline-block;
}

#film-search-container {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
