body {
  width: 100vw;
  height: auto;
  background-color: #0e0e1d;
}

h6 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
}

span {
  color: whitesmoke;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

li {
  display: inline-block;
  white-space: nowrap;

  list-style-position: inside;
  border: 1px solid gray;
  border-radius: 25px;
}

img {
  border-radius: 25px;
}

#film-results-ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  display: inline-block;
}

#film-search-container {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
